body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    width: 600px;
    height: 400px;
    border: 2px solid #ccc;
    position: relative;
    background: white;
}


.red {
    width: 100px;
    height: 70px;
    background: red;
    position: 
    top: 20px;
    left: 20px;
}

.purple {
    width: 120px;
    height: 100px;
    background: purple;
    position: absolute;
    top: 0;
    left: 100px;
}
.center {
    width: 80px;
    height: 80px;
    background: turquoise;
    position: absolute;
    top: 150px;
    left: 260px;
}


.top-right {
    width: 80px;
    height: 80px;
    background: #227b72;
    position: absolute;
    top: 10px;
    right: 10px;
}

.middle-right {
    width: 80px;
    height: 80px;
    background: blue;
    position: absolute;
    top: 140px;
    right: 0px;
}


.big-green {
    width: 120px;
    height: 120px;
    background: rgb(19, 255, 19);
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.small-green {
    width: 60px;
    height: 60px;
    background: green;
    position: absolute;
    bottom: 60px;
    right: 60px;
}


.cub{
width: 50px;
height: 50px;
background-color: rgb(89, 221, 133);
position: absolute;
bottom: 0px;
right: 0px;


}
.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: black;
    border: 12px solid turquoise;
    position: absolute;
    bottom: 0px;
    left: 0px;
}